# This file defines the code owners for the console repository
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for the entire repository
* @device-management-toolkit/owner-open-amt-cloud-toolkit